VITE_FIREBASE_API_KEY=your-api-key
VITE_FIREBASE_AUTH_DOMAIN=bujobloom.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=bujobloom
VITE_FIREBASE_STORAGE_BUCKET=bujobloom.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=537904680959
VITE_FIREBASE_APP_ID=1:537904680959:web:caf33ef813ec4267e261ca
VITE_FIREBASE_VAPID_KEY=your-web-push-certificate-public-key
